.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.PostsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.Card {
  width: 250px;
  margin: 5px;
}

html, body, #app {
  height: 100%
}

.Form {
  margin: 10px;
  display: flex;
}

.addButton {
  position: absolute;
  left: 90%;
  top: 100%;
  border-radius: 50% !important;
}
